<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@

        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <div class="page-noaccess">
                    <div class="alert alert-danger" role="alert">
                        <div class="row">
                            <div class="col-auto"><i class="iconfont icon-error-fill"> </i></div>
                            <div class="col">
                                <h4 class="alert-heading">很抱歉！</h4>
                                <p class="mb-0">没有权限查看此页，请重新<NavLink class="alert-link" href="accounts/login">登录</NavLink>!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </NotAuthorized>
            <Authorizing>
                <h1>Authentication in progress</h1>
                <p>Only visible while authentication is in progress.</p>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <h1>404 Error</h1>
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
