@page "/projects/{Id:int}"

@inject IProjectService projectService
@attribute [Authorize]


    <div class="breadcrumb-container">
        <div class="row">
            <div class="col-md">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">控制面板</a></li>
                        <li class="breadcrumb-item"><a href="/projects">项目</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@vm.Name</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-auto">
                <time id="sitetime">@DateTime.Now.ToLongDateString()</time>
            </div>
        </div>
    </div>
    <div class="card page-customer">
        <header class="card-header">
            <div class="row">
                <div class="col">
                    <div class="card-title-v1"><i class="iconfont icon-customer"></i>@($"{vm.Name}详情信息")</div>
                </div>
                <div class="col-auto">
                    <div class="control"><a class="expand" href="#"><i class="iconfont icon-fullscreen"></i></a><a class="compress" href="#" style="display: none;"><i class="iconfont icon-shrink"></i></a></div>
                </div>
            </div>
        </header>
        <section class="card-body">
            <div class="jumbotron">
                <div class="col-md">
                    <h1>@vm.Name<small>（@($"{vm.StartDate:yyyy-MM-dd}至{vm.EndDate:yyyy-MM-dd}"))</small></h1>
                    <p class="lead">@((MarkupString)vm.Description)</p>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">主管人：<i class="iconfont icon-user"></i> @vm.ManagerName</li>
                <li class="list-group-item">客户：<i class="iconfont icon-customer"></i> @vm.CustomerName</li>

                <li class="list-group-item">创建时间：@vm.CreatedDate.ToShortDateString()</li>
            </ul>
        </section>
        <div class="card-footer text-center">
            <a href="/projects/index" class="btn btn-light"><i class="iconfont icon-arrowleft"></i> 返回</a>
        </div>
    </div>




@code {
    [Parameter]
    public int Id { get; set; }

    private ProjectDetailVM vm = new ProjectDetailVM();

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        vm = await projectService.GetDetail(Id);
    }
}
